<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" th:href="@{/css/application.css}">
    </head>



    <body> 
        <a th:fragment="menu-item(title, link, svgContents)" 
            th:href="${link}"
            class="bg-gray-100 text-gray-900 group flex items-center px-2 py-2text-sm font-medium rounded-md">
            <svg th:replace="${svgContents}"></svg>
            [[${title}]]
        </a>
    </body>
</html>