<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">  
    <title>Products</title>
</head>
<body>

<div class="container">
    <h1>Welcome to my website!</h1>
    <img src="/images/FotoProfesionalBanco.png" alt="Author of website">

    <a th:href="@{/products}"> ir a productos </a>
    <br>
    <a th:href="@{/taming}"> ir al desarrollo con el libro de Taming Thymeleaf </a>
    <br>
    <br>
    <div> 
        <div>Este es un fragmento, mira:</div> 
        <div th:replace="fragments/fragments :: menu-item('Soy un fragmento jajjajaj', '/taming')">Content will be replaced by fragment</div>
        <div>Soy una actualizacion super increible.</div></div>
    </div>
</div>

</body>
</html>
